<div class="col-lg-3 col-md-3 col-sm-12">
	<!-- Categories -->
	<div class="col-lg-12 col-md-12 col-sm-6">
		<div class="no-padding">
    		<span class="title">CATEGORIES</span>
    	</div>
		<div class="list-group list-categ">
			<a href="/admins" class="list-group-item">Users Info</a>
			<a href="/admins/add_product" class="list-group-item">Add Producets</a>
			<a href="/admins/add_category" class="list-group-item">Add Category</a>
		</div>
	</div>
</div>
<div class="clearfix visible-sm"></div>